# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
.env

# Node
node_modules/
dist/
npm-debug.log*

# General
*.log
*.tmp
*.cache
python/MLscalekmermodel.py
python/asvs_to_kmers.py
python/kmer_xgb_full.py
python/kmermining_model.ipynb
